h1, h2 {
    text-align: center;
    color: palevioletred;
}

body {
    background-color: turquoise;
}

p {
    margin-left: 25px;
    color: purple;
}

img {
    padding-left: 200px;
}

p.examples {
    background-color: yellow;
}

#intro {
    background-color: orange;
}